[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/ens-contracts"]
	path = contracts/lib/ens-contracts
	url = https://github.com/ensdomains/ens-contracts
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = https://github.com/vectorized/solady
[submodule "contracts/lib/buffer"]
	path = contracts/lib/buffer
	url = https://github.com/ensdomains/buffer
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/buffer"]
	path = lib/buffer
	url = https://github.com/ensdomains/buffer
[submodule "lib/ens-contracts"]
	path = lib/ens-contracts
	url = https://github.com/ensdomains/ens-contracts
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/verifications"]
	path = lib/verifications
	url = https://github.com/coinbase/verifications
[submodule "lib/eas-contracts"]
	path = lib/eas-contracts
	url = https://github.com/ethereum-attestation-service/eas-contracts
